.credits {
  background: var(--green-500);
  padding: 8px;
}

.credits p {
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.credits p a {
  color: var(--green-800);
}

@media (max-width: 600px) {
  .credits p {
    font-size: 0.75rem;
  }
}
