.credits {
  background: var(--green-500);
  padding: 8px;
}

.credits p {
  font-family: var(--font-secondary);
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}
