header {
  display: flex;
  justify-content: space-between;
}

.header-logo img {
  width: 100%;
}

header .header-content {
  display: flex;
  gap: 16px;
  justify-content: end;
  align-items: center;
  font-family: var(--font-secondary);
  width: 100%;
}

.header-content .search {
  width: 30%;
  border: 2px solid var(--green-400);
  color: var(--green-400);
  border-radius: 8px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.search input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--green-600);
}

.search input::placeholder {
  color: var(--green-400);
}

.header-content nav {
  display: flex;
  gap: 16px;
  position: relative;
}

nav .nav-link-container {
  display: flex;
  gap: 16px;
}

nav .nav-link {
  display: flex;
  color: var(--green-400);
  gap: 4px;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

nav .nav-link:hover {
  color: var(--green-600);
}

.nav-link .icon {
  position: relative;
  display: block;
}

.cart .icon::after {
  content: attr(data-count);
  display: block;
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 8px;
  color: var(--white);
  background: var(--green-800);
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -6px;
}

nav .menu {
  color: var(--green-400);
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  header .header-logo {
    max-width: 124px;
  }

  .header-content .search {
    width: 60%;
  }

  nav .menu {
    display: block;
  }

  nav .nav-link-container {
    display: none;
    position: absolute;
    top: 50px;
    z-index: 100;
  }

  nav .menu.active {
    transform: rotate(90deg);
    transition: 0.3s;
  }

  nav .nav-link-container.active {
    display: flex;
    flex-direction: column;
    background: var(--green-800);
    height: 100vh;
    width: 45vw;
    padding: 16px;
    animation: showContainerMenu 0.5s forwards;
  }

  nav .nav-link-container.active .nav-link {
    color: var(--white);
  }

  nav .nav-link-container.active .nav-link:focus {
    color: var(--green-400);
  }

  @keyframes showContainerMenu {
    from {
      right: -233px;
    }

    to {
      right: -33px;
    }
  }
}
